.navbar-image{
    height: 150px;
    width: 150px;
}

.poster{
    width: 100%;
    margin-bottom: 15px;
}

.h{
    color: #000000;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.p{
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
}

.block{
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    list-style-type: disc;
    color: #3ee0b8;
  }
  
.theme-list {
    list-style-type: square;
    color: #000000;
  }

.icon{
    height: 20px;
    width: 20px;
}

.image{
    height: 200px;
    width: 200px;
}


.faculties-h{
    font-family: "sans-serif";
    font-size: 28px;
    font-weight: 200;
    padding: 8px;
    text-align: center;
    color: #000000;
}

.faculties-h2{
    font-family: "sans-serif";
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: #000000;
}

.faculties-h3{
    font-family: "sans-serif";
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #000000;
}

.faculties-p{
    font-family: "sans-serif";
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #000000;
}



.image-theme{
    width: 500px;
    height: 400px;
}

.theme-h{
    color: #000000;
}


.table{
    border-width: 1px;
    border-color: #000000;
    padding: 10px;
}

.contactus-image{
    height: 48px;
    margin-right: 15px;
}

.prize-image{
    height: 400px;
}

.glow{
    font-size: 50px;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}


.footer{
    font-family: sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.h-line{
    background-color: #000000;
    height: 1px;
}

.cgc-image{
    height: 400px;
    border-radius: 50px;
}

.partener-img-1{
    height: 400px;
    width: 500px;
}

.partener-img-2{
    height: 200px;
    width: 400px;
    margin-top: 50px;
}

